<div class="posts">
    <div class="itempost">
        <img class="imgperfil" src="assets/image/perfil.jpg" alt="">
        <span class="nombre">nombre<span>username</span></span>
        <div class="contenido">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, voluptatum. Quaerat quia animi eum consequuntur quod excepturi similique reiciendis minima labore at sequi, velit aspernatur a esse porro harum ab!
            Rerum praesentium distinctio dicta labore quibusdam consequuntur id deleniti! Quae voluptatibus, eius nulla doloribus deleniti consequuntur ex cumque unde temporibus quisquam delectus? Tempore voluptate fugit dignissimos eius, quos repellat vero.</span>
        </div>

        <div class="actions">
            <i class="fa-solid fa-comment"></i>
            <i class="fa-solid fa-repeat"></i>
            <i class="fa-solid fa-heart"></i>
        </div>
    </div>
    <div class="itempost">
        <img class="imgperfil" src="assets/image/perfil.jpg" alt="">
        <span class="nombre">nombre<span>username</span></span>
        <div class="contenido">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, voluptatum. Quaerat quia animi eum consequuntur quod excepturi similique reiciendis minima labore at sequi, velit aspernatur a esse porro harum ab!
            Rerum praesentium distinctio dicta labore quibusdam consequuntur id deleniti! Quae voluptatibus, eius nulla doloribus deleniti consequuntur ex cumque unde temporibus quisquam delectus? Tempore voluptate fugit dignissimos eius, quos repellat vero.</span>
        </div>

        <div class="actions">
            <i class="fa-solid fa-comment"></i>
            <i class="fa-solid fa-repeat"></i>
            <i class="fa-solid fa-heart"></i>
        </div>
    </div>
    <div class="itempost">
        <img class="imgperfil" src="assets/image/perfil.jpg" alt="">
        <span class="nombre">nombre<span>username</span></span>
        <div class="contenido">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, voluptatum. Quaerat quia animi eum consequuntur quod excepturi similique reiciendis minima labore at sequi, velit aspernatur a esse porro harum ab!
            Rerum praesentium distinctio dicta labore quibusdam consequuntur id deleniti! Quae voluptatibus, eius nulla doloribus deleniti consequuntur ex cumque unde temporibus quisquam delectus? Tempore voluptate fugit dignissimos eius, quos repellat vero.</span>
        </div>

        <div class="actions">
            <i class="fa-solid fa-comment"></i>
            <i class="fa-solid fa-repeat"></i>
            <i class="fa-solid fa-heart"></i>
        </div>
    </div>
    <div class="itempost">
        <img class="imgperfil" src="assets/image/perfil.jpg" alt="">
        <span class="nombre">nombre<span>username</span></span>
        <div class="contenido">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, voluptatum. Quaerat quia animi eum consequuntur quod excepturi similique reiciendis minima labore at sequi, velit aspernatur a esse porro harum ab!
            Rerum praesentium distinctio dicta labore quibusdam consequuntur id deleniti! Quae voluptatibus, eius nulla doloribus deleniti consequuntur ex cumque unde temporibus quisquam delectus? Tempore voluptate fugit dignissimos eius, quos repellat vero.</span>
        </div>

        <div class="actions">
            <i class="fa-solid fa-comment"></i>
            <i class="fa-solid fa-repeat"></i>
            <i class="fa-solid fa-heart"></i>
        </div>
    </div>
    
</div>